{% load static %}
<!-- About Hero Section -->
<section class="about-hero" style="background-color:#FDB913;">
    <div class="container">
        <div class="about-hero-content">
            <div class="section-badge about-badge">
                <i class="fas fa-info-circle"></i> About Us
            </div>
            <h1>Bringing Sacred Traditions <br> To Your Home</h1>
            <p>We are dedicated to preserving and sharing the rich heritage of Vedic rituals, making authentic puja
                services accessible to devotees worldwide.</p>
        </div>
    </div>
</section>