{% load static %}
<!-- Authentic & Divine Section (Why Choose Us) -->
<section class="authentic-divine">
    <div class="container">
        <div class="section-header-centered" style="color:black">
            <div class="section-badge" style="color:rgb(202, 23, 23)">
                <i class="fas fa-om"></i> Why Choose Us
            </div>
            <h2 style="color:rgb(202, 23, 23)">Authentic & Divine</h2>
            <p style="color:#b30000">We bring traditional Vedic rituals to your doorstep with utmost devotion and
                authenticity.</p>
        </div>

        <div class="dds">
            <img src="{% static 'images/story.png' %}" alt="Story Image">
        </div>
    </div>
</section>