{% load static %}

<!-- Hero Section -->
{% include 'includes/hero.html' %}

<div class="decorative-border section-divider"></div>

<!-- Categories & Stats Section -->
{% include 'content/categories_stats_content.html' %}

<div class="decorative-border section-divider"></div>

<!-- Featured Pooja Preview -->
{% include 'content/services_content.html' %}

<div class="decorative-border section-divider"></div>

<!-- About Us Section -->
{% include 'content/how_works_content.html' %}

<div class="decorative-border section-divider"></div>

<!-- Authentic & Divine Section -->
{% include 'content/authentic_divine_content.html' %}

<div class="decorative-border section-divider"></div>

<!-- Temples Section -->
{% include 'content/videos_section.html' %}

<div class="decorative-border section-divider"></div>


<!-- Testimonials Section -->
{% include 'content/testimonials_content.html' %}

<!-- Decorative Bottom Border-->
<div class="decorative-border bottom-border"></div>