{% load static %}
<nav class="navbar" style="background-color:linear-gradient(to right,#110101,#661414); position: relative;">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo">
                <div class="logo-icon"></div>
                <span>Logo</span>
            </div>


            <div class="nav-content" id="nav-content">
                <ul class="nav-menu">
                    <li><a href="{% url 'home' %}"
                            class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="{% url 'about' %}"
                            class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
                    <li><a href="{% url 'services' %}"
                            class="{% if request.resolver_match.url_name == 'services' %}active{% endif %}">Services</a>
                    </li>
                    <li><a href="{% url 'temples' %}"
                            class="{% if request.resolver_match.url_name == 'temples' %}active{% endif %}">Temples</a>
                    </li>
                    <li><a href="{% url 'blogs' %}"
                            class="{% if request.resolver_match.url_name == 'blogs' %}active{% endif %}">Blogs</a>
                    </li>
                    <li><a href="{% url 'contact' %}"
                            class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a>
                    </li>
                    <li><a href="{% url 'contact' %}"
                            class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Register</a>
                    </li>
                </ul>
            </div>


            <!-- Decorative Bottom Border -->
           
</nav>